@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000000 ;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
/*variables*/
  :root{
    --night:url(images/stars.png),linear-gradient(to top, #283E51, #0A2342);
    --day:url(images/clounds.png),linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    --rain:url(images/rain-clound.png),linear-gradient(to bottom, #202020, #111119);
    
  }
main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}
  /*CARD*/
#card{
  display: none;
  width: 90vw;
  line-height: 1.6;
  background: rgba(141, 150, 152, 0.40);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  z-index: -1;
} 
#ubicacion{
  text-align: end;
  font-size: x-large;
  font-weight: bold;
}
.cmain-temperature p,.ambient p{
  display: grid;
  grid-template-columns:1fr 100px  
}
.cmain-img{
  text-align: center;
  margin-bottom:1em ;
}
.cmain-img img{
  display: block;
  margin: auto;
}
.card-footer{
  padding-top: 1em;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
#footer_img{
  font-weight:600;
}
body{
  background-image:var(--day);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}
header{
  background: rgba(141, 150, 152, 0.40);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  height: 135px;
  padding: 20px;
}
header h1{
  text-align: center;
  text-transform: uppercase;
  margin-bottom:10px;
}
#buscar{
  width: 100%;
}
#buscar ul,#buscar input{
  width: inherit;
  max-width: 429px;
  padding:0px 7px 0px 7px;
  list-style: none;
}
#resultados a{
  text-decoration: none;
  color: black;
}
#resultados li{
  padding: 3px 0px;
}
#resultados{
  background: whitesmoke;
  color:black;
}
#buscar input{
  padding:15px 7px;
  border: 2px solid #cccccc;
  border-radius: 5px;
  text-shadow: 0px 0px 2px rgba(66,66,66,.75);
}
#buscar input:focus{
  outline: none;
}
